.App {
  display: flex;
  flex-direction: column;
  gap: 90px;
  align-items: center;
}

.backGround {
  width: 100%;
  position: relative;
}

.backGround .backCard {
  position: absolute;
  top: 32px;
  right: 16px;
  width: 80%;
}

.backGround .frontCard {
  box-shadow: 0px 39px 60px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 125px;
  left: 17px;
  width: 80%;
}

.backGround img {
  width: 100%;
}

.card-form {
  max-width: 381px;
  padding-inline: 24px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.card-form-row {
  display: flex;
  gap: 20px;
}

.card-form-row .input-box-date {
  gap: 9px;
}

.card-form button {
  border-radius: 8px;
  background: #21092f;
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 500;
  padding: 15px 0 15px;
  border: none;
  outline: none;
}

.card-form button:hover {
  cursor: pointer;
}

.success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 327px;
  padding-bottom: 45px;
}

.success-page img {
  margin-bottom: 35px;
}

.success-page .success-thanks {
  color: #21092f;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 3.422px;
  margin-bottom: 16px;
}

.success-page .success-text {
  color: #8f8694;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 48px;
}

.success-page button {
  border-radius: 8px;
  background: #21092f;
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 500;
  padding: 15px 0;
  border: none;
  outline: none;
  width: 100%;
}

@media (min-width: 426px) {
  .backGround {
    width: auto;
  }
}

@media (min-width: 426px) {
  .backGround {
    width: 426px;
  }

  .App {
    gap: 50px;
  }
}

@media (min-width: 1000px) {
  .App {
    min-height: 100vh;
    flex-direction: row;
    gap: 20%;
  }

  .backGround {
    min-height: 100vh;
    width: 483px;
    background-image: url(../images/bg-main-desktop.png);
  }

  .backGround img {
    display: none;
  }

  .backGround .frontCard-icons img {
    display: block;
  }

  .backGround .frontCard {
    top: 20%;
    left: 164px;
    height: 30%;
    max-height: 245px;
    max-width: 447px;
  }

  .backGround .backCard {
    top: 52%;
    left: 258px;
    height: 30%;
    max-height: 245px;
    max-width: 447px;
    box-shadow: 0px 39px 60px rgba(0, 0, 0, 0.14);
  }
}
