.App {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.backGround {
  position: relative;
}

.backGround .backCard {
  position: absolute;
  top: 32px;
  right: 16px;
  width: 80%;
}

.backGround .frontCard {
  box-shadow: 0px 39px 60px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 125px;
  left: 17px;
  width: 80%;
}

.backGround img {
  width: 100%;
}

.card-form {
  max-width: 381px;
  padding-inline: 24px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.card-form-row {
  display: flex;
  gap: 20px;
}

.card-form-row .input-box-date {
  gap: 9px;
}

.card-form button {
  border-radius: 8px;
  background: #21092f;
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 500;
  padding: 15px 0 15px;
}
