.frontCard {
  background-image: url(../images/bg-card-front.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  padding: 19px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.frontCard-icons {
  margin-bottom: 37px;
}

.frontCard-icons img {
  width: 54px;
}

.frontCard-number {
  margin-bottom: 17px;
}

.frontCard-number span {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2.2px;
}

.frontCard-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}

@media (max-width: 350px) {
  .frontCard-number span {
    font-size: 15px;
  }
}
